.profissional{
	margin: auto;
	width: 960px;
	display: grid;
	grid-template-areas: "a b"
	"c b";
	grid-template-columns: 360px 1fr;
	grid-template-rows: 320px 1fr;
}

.formacao{
	background-color: #333;
	color: #fff;
	grid-area: a;
	padding: 20px;
	text-align: center;
}

.experienciasProfissionais{
	background-color: white;
	color: black;
	grid-area: b;
	padding: 20px;
}

.descricao{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.habilidades{
	background-color: #13af9a;
	color: #fff;
	grid-area: c;
	padding: 20px;
}

.modal{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modalContent{
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px 0 60px;
	border: 1px solid #888;
	width: 80%;
	max-width: 900px;
	border-radius: 5px;
}

.curriculares{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	padding: 2px;
}

.linha{
	/*tira todo prenchimento do elemento*/
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-style: solid;
	border-width: 0px;
	/*add um preenchimento so no topo do elemento, shorthand*/
	border-top: 2px solid black;
}

.atividades{
	padding: 20px;
	width: 70vw;
	height: 45vh;
	background-color: white;
}

.atividades h1{
	text-align: center;
}

.experienciasProfissionais h1{
	text-align: center;
	font-weight: bold;
}

.atividades ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.atividades li{
	text-align: center;
}

.close {
	color: #54595e;
	float: right;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.formacao img{
	width: 20vw;
	height: 30vh;
}

.modalContent p{
	text-align: center;
}

.listaHabilidades ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.listaHabilidades h1{
	text-align: center;
}

.listaHabilidades li{
	text-align: center;
	font-size: 20px;
}

.descricao h1{
	margin-top: 5%;
	text-align: center;
	font-family: 'Lora', serif;
}

.descricao p{
	margin-top: 1%;
	text-align: center;
}


.formacao h2{
	font-size: 15px;
	font-family: 'Lora', serif;	
	font-weight: bold;
}

.formacao p{
	font-size: 15px;
	font-weight: bold;
}

@media screen and (max-width: 1024px){
	.atividades{
		width: 94vw;
		height: 80vh;
	}
}

@media screen and (max-width: 960px) {
	.profissional {
		margin: 0px;
		width: 100%;
	}

	.atividades{
		width: 100vw;
		height: 80vh;
	}
}

@media screen and (max-width: 428px){
	.formacao img{
		width: 19vw;
		height: 19vh;
	}
}

@media screen and (max-width: 720px) {
	.profissional {
		grid-template-columns: 1fr;
		grid-template-areas: "a"
		"c"
		"b";
	}
}


@media screen and (max-width: 600px){
	.formacao{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.formacao img{
		width: 35vw;
		height: 35vh;
	}

	.formacao h1,h2,p{
		text-align: center;
	}

	.atividades{
		height: 110vh;
	}
}

@media screen and (max-width: 375px){
	.atividades{
		height: 130vh;
	}
}

@media screen and (max-width: 320px){
	.profissional {
		margin: 0px;
		width: 110%;
	}

	.atividades{
		height: 135vh;
	}
}
