@import "reset.css";

.footer{
	background-color: #13af9a;
	height: 15vh;
}

.contatos{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.contatos p{
	text-align: center;
	color: white;
}
