.cabecalho{
	background-color: #BD5D38;
	height: 25vh;
}

.apresentacao{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}

.contato{
	width: 15%;
	height: 15%;
	border-radius: 2px;
	padding: 5px;
	cursor: pointer;
	background-color: green;
	color: white;
}

.apresentacao h1{
	color: white;
	text-align: center;
}

.apresentacao a{
	width: 15%;
	height: 15%;
	border-radius: 2px;
	padding: 5px;
	cursor: pointer;
	background-color: green;
	color: white;
	text-align: center;
}

@media (max-width: 600px){
	.apresentacao{
		display: flex;
		flex-direction: column;
	}

	.apresentacao a{
		width: 24%;
	}

	.contato{
		width: 20%;
	}
}

@media (max-width: 320px){
	.cabecalho{
		width: 110%;
	}
}