.cabecalho{
	background-color: #BD5D38;
	text-align: center;
	position: fixed;
	padding: 8px 16px 8px 16px;
	width: 20%;
	height: 100%;
	left: 80%;
}

.apresentacao{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

.contato{
	width: 30%;
	height: 15%;
	border-radius: 2px;
	padding: 5px;
	cursor: pointer;
	background-color: green;
	color: white;
	margin-top: 3%;
}

.apresentacao h1{
	color: white;
	text-align: center;
}

.apresentacao a{
	width: 31%;
	height: 15%;
	border-radius: 2px;
	padding: 5px;
	cursor: pointer;
	background-color: green;
	color: white;
	text-align: center;
}

@media screen and (max-width: 600px){

	.cabecalho{
		width: 55%;
		left: 50%;
	}

	.contato{
		width: 20%;
		height: 20%;
	}
}

@media (max-width: 1024px) {
	.contato{
		width: 80%;
	}

	.apresentacao a{
		width: 80%;
	}
}